.footer {
  background: #EDFFF5;
  padding: 70px 0 30px;
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 60px;
}

/* BRAND */
.footer-brand h2 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ff7b00;
  font-weight: 700;
}

.logo {
  width: 28.24px;
  height: 28.22px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

}

.footer-brand p {
  font-size: 14px;
  margin: 18px 0;
  max-width: 380px;
  line-height: 1.6;
}

.footer-contact span {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

/* LINKS */
.footer-links h4,
.footer-socials h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #ff7b00;
}

.footer-links a {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #4a4a4a;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ff7b00;
}

/* SOCIALS */
.social-icons {
  display: flex;
  gap: 14px;
}

.social-icons a {
  width: 36px;
  height: 36px;
  border: 1px solid #d7eee4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a4a4a;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #ff7b00;
  color: white;
  border-color: #ff7b00;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid #d7eee4;
  margin-top: 50px;
  padding-top: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;

  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.footer-bottom .brand {
  color: #ff7b00;
  font-weight: 600;
  font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 8px;
    text-align: center;

  }
  .footer-bottom .brand {
    margin-bottom: 8px;
  }
  .logo {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
  .footer-logo{
    text-align: center;
    font-size: 44px;
  }
}
